<!DOCTYPE html>
<html>
<head>
	<title>Anagram App</title>
	<link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/style.css" />
</head>

<body ng-app="AnagramApp">
	<script src="js/angular.js"></script>
	<script src="js/angular-drag-and-drop-lists.js"></script>
	<script src="js/app.js"></script>
	<script src="js/services.js"></script>
	<script src="js/controllers.js"></script>

	<div ng-controller="anagramController">
		<div class="anagram-wrapper">
			<h2>Drag-and-Drop Anagram Game</h2>
			<h3>{{result}}</h3>
			<ul dnd-list="anagram.clue">
				<li 
					ng-repeat="character in anagram.clue"
					dnd-draggable="character"
					dnd-moved="anagram.clue.splice($index, 1)"
					dnd-effect-allowed="move"
					dnd-dragend="movedCallback()"
					dnd-disable-if="won"
					ng-class="{'correct': won}">
					{{character.letter}}
				</li>
		</ul>
		<div class="clearfix button-container">
			<button type="button" ng-click="newGame()" class="new-game-button">New Game</button>
		</div>
	</div>
</div>
</body>
</html>